@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #000000;
}

body {
  background-color: #FFFFFF;
}
body div#block-nensapthom-site-branding {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column !important;
}
body div#block-nensapthom-site-branding a {
  font-size: 2.4rem;
  line-height: 3rem;
  color: #DC3623;
  text-decoration: none;
  font-weight: 700;
  font-family: "Montserrat Alternates";
}

header#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  height: 75px;
  border-bottom: 1px solid;
}
header#header div.section.layout-container.clearfix {
  max-width: 1220px;
  min-width: 960px;
  margin: auto;
  height: 75px;
}
header#header div.section.layout-container.clearfix div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header#header div.section.layout-container.clearfix div .header-right {
  display: flex;
  flex-direction: row;
}
header#header div.section.layout-container.clearfix div .header-right .icon {
  margin: auto 0;
  margin-right: 15px;
  display: flex;
}
header#header div.section.layout-container.clearfix div .header-right .icon:last-child {
  margin-right: 0;
}
header#header div.section.layout-container.clearfix div .header-right .icon a {
  text-decoration: none;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
header#header div.section.layout-container.clearfix div .header-right .icon a:hover {
  color: #DC3623;
}
header#header div.section.layout-container.clearfix div .header-right .icon a i {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

div#menu-list {
  margin-top: 75px;
}
div#menu-list nav#block-nensapthom-main-menu {
  display: flex;
}
div#menu-list nav#block-nensapthom-main-menu ul {
  display: flex;
  flex-direction: row;
  margin: 30px auto 18px;
}
div#menu-list nav#block-nensapthom-main-menu ul li {
  list-style-type: none;
  border-right: 1px solid #444444;
  padding: 0 25px;
}
div#menu-list nav#block-nensapthom-main-menu ul li:last-child {
  border-right: none;
}
div#menu-list nav#block-nensapthom-main-menu ul li a {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat";
}
div#menu-list nav#block-nensapthom-main-menu ul li a:hover {
  color: #154084;
  font-weight: 550;
}

div.featured-top {
  display: flex;
  margin: 15px 0;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix {
  max-width: 1220px;
  min-width: 960px;
  margin: auto;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div {
  display: flex;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div div#block-views-block-trending-now-front-trending-now {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div div#block-views-block-trending-now-front-trending-now h2 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2.5;
  text-transform: uppercase;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div div#block-views-block-trending-now-front-trending-now ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div div#block-views-block-trending-now-front-trending-now ul li {
  margin-left: 10px;
  padding: 4px 12px;
  background-color: #94969e;
  border-radius: 4px;
}
div.featured-top aside.featured-top__inner.section.layout-container.clearfix div div#block-views-block-trending-now-front-trending-now ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 400;
}

main#content {
  width: 100%;
  background-color: #f4f5fa;
}
main#content .section {
  padding: 0 75px;
}
main#content .section div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main#content .section div #block-views-block-display-position-display-position-1-left {
  width: 58%;
  padding: 0 15px;
}
main#content .section div #block-views-block-display-position-display-position-1-left li {
  list-style-type: none;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article {
  display: flex;
  flex-direction: column;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article a#teaser-image-main {
  width: 100%;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article a#teaser-image-main img {
  width: 100%;
  max-height: 362px;
  min-height: 232px;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content {
  background-color: #FFFFFF;
  padding: 18px;
  display: flex;
  flex-direction: column;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .categories p {
  font-size: 0.8rem;
  color: #154084;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  margin-bottom: 0;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .categories p::after {
  content: "|";
  margin-left: 10px;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .categories p + p {
  margin: 0 10px;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .categories p:last-child {
  margin-right: 0;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .categories p:last-child::after {
  content: "";
  margin-left: 0;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .title a {
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 600;
  font-family: "Libre Baskerville";
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .description-show {
  font-size: 0.9rem;
  color: #333333;
  margin-bottom: 18px;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .readmore-show {
  margin: 10px 12px 10px 0;
}
main#content .section div #block-views-block-display-position-display-position-1-left li article .teaser-body-content .readmore-show a#readmore {
  color: #FFFFFF;
  background-color: #DC3623;
  padding: 14px 25px 10px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.8rem;
}
main#content .section div #block-views-block-display-position-display-position-1-right {
  width: 42%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
main#content .section div #block-views-block-display-position-display-position-1-right h2 {
  border-top: 3px solid #222533;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Libre Baskerville";
  padding-top: 10px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li {
  list-style-type: none;
  background-color: #FFFFFF;
  margin-bottom: 15px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li:last-child {
  margin-bottom: 0;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .image-main {
  width: 90px;
  height: 90px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .image-main a#teaser-right-image-main {
  width: 100%;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .image-main a#teaser-right-image-main img {
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .teaser-right-body-content {
  padding: 7.5px 7.5px 7.5px 15px;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .teaser-right-body-content h2 {
  border-top: none;
}
main#content .section div #block-views-block-display-position-display-position-1-right li article .teaser-right-body-content h2 a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  background-color: #154084;
  margin-top: 100px;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories h2 {
  margin: 24px auto 10px;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-family: "Libre Baskerville";
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories div {
  width: 100%;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories div .item-list {
  width: 100%;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories div .item-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories div .item-list ul li {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 30px 10px;
  text-align: center;
}
main#content .section div #block-views-block-page-front-categories-trending-trending-categories div .item-list ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-family: "Josefin Sans";
}

main#content article {
  background-color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
