<div id="page_front">

    <header id="page-front_header" class="row g-0">
        <div class="header-left col-12 col-lg-8">
            <div class="name_website">{{ site_name }}</div>
            <div class="slogan">slogan {{ site_slogan }}</div>
        </div>
        <div class="header-right col-12 col-lg-4 row g-0">
            <div class="search col">search button</div>
            <div class="subscribe col">subscribe button</div>
            <div class="menu-button col">menu button</div>
        </div>
    </header>


    <div id="menu-list" class="container">
        Menu list
    </div>

    <div class="trending-now">
        Trending now
    </div>

    <div class="top-first_blog">
        <div class="top_first_blog_left">
            Bài viết nối bật top 1
        </div>
        <div class="top_first_blog_right">
            Danh sách bài viết nổi bật tiếp theo
        </div>
    </div>

    <div class="categories">
        Danh sách các chủ đề
    </div>

    <div class="blog-list container row g-0">
        <div class="new-archive_blog_list col-12 col-lg-8">
            Danh sách các bài viết mới nhất
        </div>
        <div class="top_second_blog_list col-12 col-lg-4">
            Danh sách các bài viết top 2
        </div>
    </div>


    <footer id="footer">
        <div class="container row g-0">
            <div class="footer_first col-12 col-lg-4">
                Footer 1
            </div>
            <div class="footer_second col-12 col-lg-4">
                Footer 2
            </div>
            <div class="footer_third col-12 col-lg-4">
                Footer 3
            </div>
        </div>
    </footer>
</div>
